/*admin custom css*/
/*=============================================================================================*/
/*public*/
html, body { height: 100% }
body {
  background-color: #FFF;
  font-family: Georgia, Times, "Times New Roman", serif;
}

ul { padding: 0; }
ul li { list-style: none; }

.fa-o {
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  color: #EEE;
}


.content-frame { margin: auto; height: 100%; }
.full-height { height: 100%; }
.search-box input{ background-color: #CCC; }
.search-box button{ border: 1px solid #605B5D; }

/*=============================================================================================*/
/*bootstrap*/
.btn.btn-custom {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.select-box { position: relative; }
.select-box select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-box select {
    font-family: inherit;
    border-radius: unset;
    background-color: transparent;
    width: 100%;
    font-size: 12px;
    color: #000;
}

.select-box:after {
    position: absolute;
    bottom: 13px;
    right: 10px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.4em solid #000;
    pointer-events: none;
}
/*=============================================================================================*/
/*header*/
header.parent-admin {
  background-color: #EEE;
  height: 125px;
  padding: 10px 0;
  color: #777;
  margin: auto;
}

header.parent-admin a { color: #777; }

header.parent-admin .logo {
  padding: 10px 30px 20px 20px;
}

header.parent-admin .header-menu {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: right;
  font-size: 20px;
}

header.parent-admin .header-menu ul { display: block; }
header.parent-admin .header-menu ul li {
  display: inline-block;
  padding: 10px;
}

header.parent-admin .header-menu ul li img {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

header.parent-admin .di-left { padding: 0 20px; border-left: 1px solid #AAA; }

/*=============================================================================================*/
/*main*/

main.parent-admin {
  padding: 30px 20px;
  position: relative;
  height: 100%;
  margin: auto;
  background-color: #FFF;
}

main.parent-admin .left-nav {
  padding: 0 20px 0 30px;
  position: absolute;
  left: 0;
  top: 30px;
  height: 100%;
  min-height: 400px;
}

main.parent-admin .left-nav .list-nav {
  display: block;
  padding: 40px;
}

main.parent-admin .left-nav .list-nav a { color: #777; }
main.parent-admin .left-nav .list-nav ul li {
  display: block;
  padding: 10px 0;
}

main.parent-admin .left-nav .list-nav ul li.active { font-weight: bold; }

main.parent-admin .top-nav {
  background-color: #f0ad4e;
  line-height: 40px;
}

main.parent-admin .top-nav ul { display: block; margin: 0; }
main.parent-admin .top-nav ul li {
  display: inline-block;
  padding: 5px 20px;
}

main.parent-admin .top-nav ul li.active,
main.parent-admin .top-nav ul li:hover { background-color: #E68924; }

main.parent-admin .top-nav a { color: #FFF; }
main.parent-admin .di-left { padding: 0 20px; border-left: 1px dashed #CCC; }

/*main-footer*/
.main-footer {
  text-align: center;
  background-color: #FFF;
  padding: 10px;
  margin-top: 15px;
}

/*operation-group*/
.operation-group .input-group {
  padding: 10px 20px 10px 0;
  line-height: 35px;
}

.operation-group .input-group:last-child {
  padding-right: 0;
}

/*alpha*/
.alpha { display: inline-block; }
.alpha ul {
  display: block;
  text-align: right;
  font-size: 16px;
}

.alpha ul li {
  display: inline-block;
  padding: 0 4px;
}

.alpha ul li a { color: #888; }

/*header option*/
.header-option {
  display: inline-block;
  width: 100%;
  background-color: #FFF;
}

/*summary group*/
.summary-group p { margin-bottom: 0 }
.summary-group .number { font-size: 70px; }
.summary-group .summary-text { display: inline-block; margin-right: 30px; }
.summary-group .summary-text.card {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 0px;
  width: 25%;
}

/*ext group*/
.ext-group { display: inline-block; }

/*pagging-text*/
.pagging-text { font-size: 11px; display: inline-block; margin-right: 35px; }
.pagging-text .pagging-left { color: #CCC; }

/*card-menu*/
.card-menu {
  display: block;
  margin: 20px 0;
}

.card-menu ul li {
  display: inline-block;
  padding: 20px;
  border: 1px solid #DDD;
  margin-right: 20px;
  width: 22%;
  margin-bottom: 20px;
}

.card-menu ul li:last-child { margin-right: 0; }

.card-menu ul li span {
  display: block;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
  color: #CCC;
}

.card-menu ul li a {
  display: block;
  text-align: center;
}

/*=============================================================================================*/
/*login*/
.login-bg {
  background-image: url(../../assets/img/home.jpg);
  background-size: cover;
}

.login-brand {
  text-align: center;
  background-color: #FFF;
  padding: 15px 0;
  border-bottom: 1px solid #DDD;
}

.login-brand .small-image {
  width: 25%;
}

.login-form{
  display: inline-block;
  position: absolute;
  max-width: 380px;
  height: 342px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  z-index: 3;
}
.login-form .left{
  background-color: #FFF;
  padding: 20px;
}
.login-form .right{
  background-color: #E6E7E8;
  padding: 20px;
}
.login-form .right p{
  font-size: 12px;
}
.login-form .btn{
  background-color: #366797;
  color: #fff;
}


/* table */
.table-frame {
  height: 100%;
  margin-bottom: 20px;
}

.table { margin-bottom: 0 }

.table thead {
  background-color: #CCC;
  font-weight: normal;
  border-top: 1.2px solid #111;
}

.table thead th { border-bottom: none !important; }
.table thead th,
.table tbody td {
  font-weight: normal;
  border-left: 1px solid #111;
  padding: 2px 15px !important;
}

.table thead th:first-child,
.table tbody td:first-child {
  border-left: none;
}

.table tbody tr:last-child {
  border-bottom: 1px solid #111;
}

/* bootstrap */
.container-fluid {
  padding: 0;
  height: 100%;
}

/*=============================================================================================*/
/*BACK TO TOP*/
#back-to-top { display: none; opacity: 1; }

/*=============================================================================================*/
/*RESPONSIVE*/

/*page size*/
@media (max-width: 767px) {
  header.parent-admin .header-title h2 { font-size: 100% }
}

/* extra small to small */
@media (max-width: 991px) {
  .login-form {
    /*height: auto;*/
  }

  .login-form{ height: 402px; }
  .login-form .left, .login-form .right { height: auto; padding: 50px; }

  /*header parent*/
  header.parent-admin { height: auto; }
  header.parent-admin .logo { padding: 10px 20px 10px 0; }

  /*main parent*/
  main.parent-admin { padding: 5px 20px; }

  /*left nav*/
  main.parent-admin .left-nav {
    padding: 0;
    position: relative;
    left: 0;
    top: unset;
    height: auto;
    min-height: unset;
    margin-bottom: 5px;
  }

  main.parent-admin .left-nav .list-nav {
    display: block;
    height: 100%;
    background-color: #EEE;
    padding: 10px 25px;
    box-shadow: none;
  }

  main.parent-admin .left-nav .list-nav .left-nav-toggle { font-size: 16px; padding-top:5px; }
  main.parent-admin .left-nav .list-nav ul { display: none; }
  main.parent-admin .left-nav .list-nav ul li:last-child { padding-bottom: 0px; }


  main.parent-admin .left-nav .list-nav h3 { margin: 0 }

  /*top nav*/
  main.parent-admin .top-nav { overflow: auto; padding: 0; }
  main.parent-admin .top-nav ul { display: flex; }
  main.parent-admin .top-nav ul li { white-space: nowrap; padding: 20px; }

  /*operation group*/
  .operation-group { padding: 0 20px; }
  .operation-group .operation-button { display: inline-block; }

   /*summary group*/
  .summary-group { margin: 20px 0; padding: 20px; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; }
  .summary-group .summary-text { margin-bottom: 20px; }

  /*alpa*/
  .alpha ul { text-align: left; }
  .pagging-text {
      font-size: 13px;
      text-align: right;
      padding-right: 20px;
      display: block;
      margin-right: 0;
      margin-bottom: 20px;
  }

  /*ext group*/
  .ext-group { padding: 0 20px; }

  /*card-menu*/

  .card-menu ul li { margin-left: 20px; }

  /*summary*/
  .summary-group .summary-text.card {
	display: inline-block;
	width: 40%;
  }

  /*=============================================================================================*/
  /*BACK TO TOP*/
  #back-to-top { display: block; }
}

/* small */
@media (min-width: 768px) and (max-width: 991px) {

}
/* medium */
@media (min-width: 992px) and (max-width: 1199px) {
  main.parent-admin .left-nav .list-nav ul { display: block; }
}
/* large */
@media (min-width: 1200px) {
  main.parent-admin .left-nav .list-nav ul { display: block; }
}
